<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
  <h1>{{.Title}}</h1>

  <div class="row">
    <span class="col-4">Pipeline Job</span>
    <span class="col-1">Version</span>
    <span class="col-1">Start Time</span>
    <span class="col-1">End Time</span>
    <span class="col-2">Wall Clock Time</span>
    <span class="col-2">Total Time</span>
  </div>

  {{ $jobs := .Jobs }}
  {{ $trains := .Trains }}
  {{ $products := .Products }}

  {{ range $key, $product_value := $products }}
    <div data-toggle="collapse" data-target="#accordion-{{ $product_value.Pipeline }}" class="clickable row pipeline">
        <span class="col-4"><b>{{ $product_value.Name }}</b></span>
        <span class="col-1"></span>
        <span class="col-1"></span>
        <span class="col-1"></span>
        <span class="col-2">{{ $product_value.WallClockTime }}</span>
        <span class="col-2">{{ $product_value.TotalTimeDuration }}</span>
    </div>

      {{ range $key, $job_value := $jobs }}
        {{ if (eq $product_value.Pipeline $job_value.PipelineJob)}}

          <div data-toggle="collapse" data-target="#accordion-{{ $key }}" class="clickable row pipeline collapse" id="accordion-{{ $product_value.Pipeline }}">
             <span class="col-4">{{ $job_value.PipelineJob }}</span>
             <span class="col-1">{{ $job_value.Version    }}</span>
             <span class="col-1">{{ $job_value.JobDataStrings.StartTime          }}</span>
             <span class="col-1">{{ $job_value.JobDataStrings.EndTime            }}</span>
             <span class="col-2">{{ $job_value.JobDataStrings.WallClockTimeHours }}H,  {{ $job_value.JobDataStrings.WallClockTimeMinutes}} Mins</span>
             <span class="col-2">{{ $job_value.JobDataStrings.TotalHours }}H, {{ $job_value.JobDataStrings.TotalMinutes }} Mins</span>
             <span class="col-1"></span>
          </div>
          <div id="accordion-{{ $key }}" class="collapse">
            {{ range $train_key, $train_value := $trains }}
              {{ if and (eq $train_value.Pipeline $job_value.PipelineJob) (eq $train_value.Version $job_value.Version) }}
                 <div class="row">
                   <span class="col-4">{{ $train_value.Name }}</span>
                   <span class="col-1">{{ $train_value.Version }}</span>
                   <span class="col-1">{{ $train_value.Time }}</span>
                   <span class="col-1">-</span>
                   <span class="col-2">{{ $train_value.DurationHours }} Hours, {{ $train_value.DurationMinutes }} Mins</span>
                </div>
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
  {{ end }}
</div>
</body>
</html>
